.action{
    background-color: #422AD5;
    color: #ffff;
}

@media screen and (max-width:576px) {
    .ul{
        display: flex;
        flex-wrap: wrap;
    }
    .fieldset{
        margin: 0px auto;
    }
    .content{
        margin: 0px auto;
    }

}